.main{
    height: 8vh;
    min-height: 50px;
    max-height: 80px;
    background-color: #343A40;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 75%;
}